body {
    padding: 0;
    margin: 0;
    color: #e0cfb8;
    font-family: 'Exo 2', sans-serif;
    background: #182d28;
}

nav {
    background-color: #6c9686;
    height: 70px;
    margin: auto 0;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
}

