nav {
    background-color: #6c9686;
    height: 70px;
    margin: auto 0;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}

.title {
    height: 70px;
    margin: auto 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 60px;
    text-align: center;
}

.content-container {
    background-color: #6c9686;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

p {
    padding: 20px;
    font-size: 15pt;
}

a {
    text-decoration: none;
    color: #e0cfb8;
    padding-right: 20px;
}

a:hover {
    color: #ddbc91;
}

.ckvSiteLink {
    font-size: 30px;
}