body {
    padding: 0;
    margin: 0;
    color: #e0cfb8;
    font-family: 'Exo 2', sans-serif;
}

nav {
    background-color: #6c9686;
    height: 70px;
    margin: auto 0;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #e0cfb8;
    font-size: 20px;
    transition: 0.1s;
}

.navBarLink {
    padding-right: 20px;
    transition: 0.1s;
}

.navBarLink:hover {
    color: #ddbc91;
    font-size: 25px;
}

.ckvSiteLink {
    font-size: 30px;
    padding-right: 20px;
}